<h1> Finance Tracker 6 </h1>

<body>
    
    <%= render './layouts/navigation' %>
    <%= render './layouts/messages' %>
    <%= yield %>
    <br />
    <br />
    <%= render './layouts/footer' %>
    <%= yield %>
  </body>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>