<!DOCTYPE html>
<html>
  <head>
    <title>Finance Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="d-flex flex-column page-content">
    <%= render 'layouts/navigation' %>
    <div class="container">
    <span class="m-1"></span>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>